<!--<p id="notice"><%= notice %></p> -->
<p>
  <b>Flower image:</b>
  <%= image_tag @store.image.url ,:height=>"200",:width=>"200"%>
</p>
<p>
  <strong>Product name:</strong>
  <%= @store.product_name %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @store.product_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@store.price) %>
</p>

<p>
  <strong>Features:</strong>
  <%= @store.features %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
        
          