<div class="crumb_nav"> <a href="http://all-free-download.com/free-website-templates/">home</a> &gt;&gt; category name </div>
<div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" /></span>Category products</div>
<div class="new_products">
	<% @flowers_gallery.each do |flower|%>
	<div class="new_prod_box">

	  Name  :<%= flower.product_name %><br />
	  Type  :<%= flower.product_type %><br />
	  Price :<%= number_to_currency(flower.price) %>
	  <%= link_to "show" , :class=>"checkout", controller: "gallery", action: "show", name:flower.product_name, type:flower.product_type, description:flower.description,
	    	price:flower.price, image:flower.image.url, features:flower.features %>
	  <div class="new_prod_bg">
	    <%= image_tag flower.image.url,:height=>"100",:width=>"100",:class=>"thumb"%> 

	  </div>
	  <%= button_to 'Add to Cart', line_items_path(:store_id => flower.id), remote: true %>
	</div>
	
	
	<% end %>
	<div class="flickr_pagination">
      <div class="page_info">
        <%= page_entries_info @flowers_gallery %>
      </div><br>
      <%= will_paginate @flowers_gallery, :container => false %>
  </div>
	
</div>
