<!--<h2>Forget Password?</h2>
<%= flash[:notice]%>
<%= form_for(:user) do |f| %>

<div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

-->

<div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" /></span>My account</div>
      <div class="feat_prod_box_details">        
        <div class="contact_form">
          <div class="form_subtitle">Forgot Password?</div>     
        	<%= flash[:notice]%>
				<%= form_for(:user) do |f| %>

				<div class="field">
				    <%= f.label :email,:class=>"contact" %><br />
				    <%= f.text_field :email,:class=>"contact_input" %>
				  </div>
				  

  <div class="form_row">
    <%= f.submit  :class=>"register" %>
  </div>
            
              
         <% end %>
        </div>
      </div>
      
    </div>
