<!--<%= form_for(:user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :new_password %><br />
    <%= f.password_field :password %>
  </div>
 <div class="field">
    <%= f.label :confirm_new_password %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->

<div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" /></span>My account</div>
      <div class="feat_prod_box_details">        
        <div class="contact_form">
          <div class="form_subtitle">Reset Password</div>     
          <%= flash[:notice]%>
        <%= form_for(:user) do |f| %>

        <div class="field">
    <%= f.label :new_password ,:class=>"contact"%><br />
    <%= f.password_field :password,:class=>"contact_input" %>
  </div>
 <div class="field">
    <%= f.label :confirm_new_password ,:class=>"contact"%><br />
    <%= f.password_field :password_confirmation ,:class=>"contact_input"%>
  </div>
          

  <div class="form_row">
    <%= f.submit :class=>"register"  %>
  </div>
            
              
         <% end %>
        </div>
      </div>
      
    </div>