<div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" /></span>My account</div>
<div class="feat_prod_box_details">        
  <div class="contact_form">
    <div class="form_subtitle">Reset Password</div>     
    <%= flash[:notice]%>
    <%= form_for(:user) do |f| %>
      <div class="field">
      <%= f.label :new_password ,:class=>"contact"%><br />
      <%= f.password_field :password,:class=>"contact_input" %>
      <font color="red">*</font>
      </div>
      <div class="field">
        <%= f.label :confirm_new_password ,:class=>"contact"%><br />
        <%= f.password_field :password_confirmation ,:class=>"contact_input"%>
        <font color="red">*</font>
      </div>    
      <div class="form_row">
        <%= f.submit :class=>"register"  %>
      </div>
      <p> <font color="red">*</font>
           represents mandatory fields
      </p>       
    <% end %>
    </div>
  </div>
</div>