<div class="title"><span class="title_icon"><img src="/assets/bullet1.gif" alt="" /></span>Register</div>

      <div class="feat_prod_box_details">
        <div class="form_row">
         <div class="logo">
            <img src="/assets/offers.gif" alt ="" width=175px height=25px />
          </div>
        </div>
        
        <div class="contact_form">
          <div class="form_subtitle">create new account</div>
          <%= form_for :user do |f| %>

          <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
            <div class="form_row">
               <%= f.label :name,:class=>"contact" %>
                <%= f.text_field :name,:class=>"contact_input" %>             
            </div>

            <div class="form_row">
               <%= f.label :email,:class=>"contact" %>
           <%= f.text_field :email,:class=>"contact_input" %>
           <font color="red">*</font>             
            </div>

               <div class="form_row">
               <%= f.label :password,:class=>"contact" %>
          <%= f.password_field :password,:class=>"contact_input" %> 
          <font color="red">*</font>
            </div>

             
               <div class="form_row">
               <%= f.label :confirm_password,:class=>"contact" %>
          <%= f.password_field :password_confirmation,:class=>"contact_input" %>
          <font color="red">*</font>                      

            </div> 
            
            <div class="form_row">
              <%= submit_tag "Sign Up" , :class=>"register" %>
               <%= f.submit 'Reset', :type => 'reset', :class=>"register" %>
                <%= link_to 'Back',:controller=>"gallery",:action=>"index", :class=>"register"  %>
                <a href="terms" target="_blank",class="register">Terms & Conditions</a>
            </div> 
            <p class="form_row">By signing up,you are accepting terms and conditions</p>
            
           <p> <font color="red">*</font>
           represents mandatory fields</p>
          
          <% end %>

        </div>
      </div>
     
