<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<!--	<td class="cart_thumb"> <img src="<%= line_item.store.image.url %>",width=25 height=25></td>-->
	<td style="width:10"><%= line_item.store.product_name %></td>
	<td><%= number_to_currency(line_item.store.price) %></td>
	<td><%= line_item.quantity %> &times;</td>	
	<td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
	<td><%= link_to 'Remove', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
  